.content {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
}

.content img {
  position: relative;
  width: 400px;
  height: auto;
  align-self: center;
  transform: scaleX(-1);
  margin-left: 10px;
}

.text-content {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}
